In [1]:
import numpy as np
import pandas as  pd

In [2]:
ser1 = pd.Series([23,54,np.nan, None,])

In [3]:
ser1.notnull()

0     True
1     True
2    False
3    False
dtype: bool

In [4]:
ser1.isna()

0    False
1    False
2     True
3     True
dtype: bool

In [5]:
ser1.isnull()

0    False
1    False
2     True
3     True
dtype: bool

In [6]:
ser2 = pd.Series(['green','black','white',None,'red'])

In [7]:
ser2.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [8]:
ser1.dropna()

0    23.0
1    54.0
dtype: float64

In [9]:
ser1.isnull()

0    False
1    False
2     True
3     True
dtype: bool

In [12]:
ser1[ser1.notnull()]

0    23.0
1    54.0
dtype: float64

In [14]:
countthem = ser1[ser1.notnull()]

In [15]:
countthem.count()

2

In [18]:
dt1 = pd.DataFrame([[1,None,3,4,5],[6,None, 8,9,10], [11,12,13,14,15]])
dt1

    0     1   2   3   4
0   1   NaN   3   4   5
1   6   NaN   8   9  10
2  11  12.0  13  14  15

In [20]:
dt1.dropna()

    0     1   2   3   4
2  11  12.0  13  14  15

In [21]:
dt1

    0     1   2   3   4
0   1   NaN   3   4   5
1   6   NaN   8   9  10
2  11  12.0  13  14  15

In [22]:
dt1.dropna(axis=1)

    0   2   3   4
0   1   3   4   5
1   6   8   9  10
2  11  13  14  15

In [28]:
dt3 =pd.DataFrame ([[6,None,np.nan,9,10],[1,None,2,3,4],[11,None,13,14,15],[16,np.nan,18,19,20]])
dt3

    0   1     2   3   4
0   6 NaN   NaN   9  10
1   1 NaN   2.0   3   4
2  11 NaN  13.0  14  15
3  16 NaN  18.0  19  20

In [32]:
dt3.dropna(axis=1, how='all')

    0     2   3   4
0   6   NaN   9  10
1   1   2.0   3   4
2  11  13.0  14  15
3  16  18.0  19  20