In [1]:
import pandas as pd

In [6]:
TS = pd.read_csv("data/ex17.csv", index_col='date', parse_dates=True)

In [7]:
TS.dtypes
TS.index

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08',
               '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
               '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16'],
              dtype='datetime64[ns]', name='date', freq=None)

In [8]:
TS

             apple
date
2019-04-01  131.24
2019-04-02  133.25
2019-04-03  133.35
2019-04-04  134.16
2019-04-05  134.49
2019-04-06  134.09
2019-04-07  131.72
2019-04-08  133.27
2019-04-09  132.88
2019-04-10  131.24
2019-04-11  133.25
2019-04-12  133.35
2019-04-13  134.16
2019-04-14  134.49
2019-04-15  134.09
2019-04-16  131.72

In [9]:
TS.shift(periods=1)

             apple
date
2019-04-01     NaN
2019-04-02  131.24
2019-04-03  133.25
2019-04-04  133.35
2019-04-05  134.16
2019-04-06  134.49
2019-04-07  134.09
2019-04-08  131.72
2019-04-09  133.27
2019-04-10  132.88
2019-04-11  131.24
2019-04-12  133.25
2019-04-13  133.35
2019-04-14  134.16
2019-04-15  134.49
2019-04-16  134.09

In [10]:
TS.shift(-1)

             apple
date
2019-04-01  133.25
2019-04-02  133.35
2019-04-03  134.16
2019-04-04  134.49
2019-04-05  134.09
2019-04-06  131.72
2019-04-07  133.27
2019-04-08  132.88
2019-04-09  131.24
2019-04-10  133.25
2019-04-11  133.35
2019-04-12  134.16
2019-04-13  134.49
2019-04-14  134.09
2019-04-15  131.72
2019-04-16     NaN

In [11]:
TS

             apple
date
2019-04-01  131.24
2019-04-02  133.25
2019-04-03  133.35
2019-04-04  134.16
2019-04-05  134.49
2019-04-06  134.09
2019-04-07  131.72
2019-04-08  133.27
2019-04-09  132.88
2019-04-10  131.24
2019-04-11  133.25
2019-04-12  133.35
2019-04-13  134.16
2019-04-14  134.49
2019-04-15  134.09
2019-04-16  131.72

In [13]:
TS['lag1']=TS.shift(periods=1)

In [14]:
TS.dropna(inplace=True)

In [15]:
TS

             apple    lag1
date
2019-04-02  133.25  131.24
2019-04-03  133.35  133.25
2019-04-04  134.16  133.35
2019-04-05  134.49  134.16
2019-04-06  134.09  134.49
2019-04-07  131.72  134.09
2019-04-08  133.27  131.72
2019-04-09  132.88  133.27
2019-04-10  131.24  132.88
2019-04-11  133.25  131.24
2019-04-12  133.35  133.25
2019-04-13  134.16  133.35
2019-04-14  134.49  134.16
2019-04-15  134.09  134.49
2019-04-16  131.72  134.09

In [16]:
TS['percent_change']= (TS['apple']/TS['apple'].shift(periods=1)) -1
TS

             apple    lag1  percent_change
date
2019-04-02  133.25  131.24             NaN
2019-04-03  133.35  133.25        0.000750
2019-04-04  134.16  133.35        0.006074
2019-04-05  134.49  134.16        0.002460
2019-04-06  134.09  134.49       -0.002974
2019-04-07  131.72  134.09       -0.017675
2019-04-08  133.27  131.72        0.011767
2019-04-09  132.88  133.27       -0.002926
2019-04-10  131.24  132.88       -0.012342
2019-04-11  133.25  131.24        0.015315
2019-04-12  133.35  133.25        0.000750
2019-04-13  134.16  133.35        0.006074
2019-04-14  134.49  134.16        0.002460
2019-04-15  134.09  134.49       -0.002974
2019-04-16  131.72  134.09       -0.017675

In [17]:
TS.dropna

<bound method DataFrame.dropna of              apple    lag1  percent_change
date
2019-04-02  133.25  131.24             NaN
2019-04-03  133.35  133.25        0.000750
2019-04-04  134.16  133.35        0.006074
2019-04-05  134.49  134.16        0.002460
2019-04-06  134.09  134.49       -0.002974
2019-04-07  131.72  134.09       -0.017675
2019-04-08  133.27  131.72        0.011767
2019-04-09  132.88  133.27       -0.002926
2019-04-10  131.24  132.88       -0.012342
2019-04-11  133.25  131.24        0.015315
2019-04-12  133.35  133.25        0.000750
2019-04-13  134.16  133.35        0.006074
2019-04-14  134.49  134.16        0.002460
2019-04-15  134.09  134.49       -0.002974
2019-04-16  131.72  134.09       -0.017675>

In [18]:
TS.dropna()

             apple    lag1  percent_change
date
2019-04-03  133.35  133.25        0.000750
2019-04-04  134.16  133.35        0.006074
2019-04-05  134.49  134.16        0.002460
2019-04-06  134.09  134.49       -0.002974
2019-04-07  131.72  134.09       -0.017675
2019-04-08  133.27  131.72        0.011767
2019-04-09  132.88  133.27       -0.002926
2019-04-10  131.24  132.88       -0.012342
2019-04-11  133.25  131.24        0.015315
2019-04-12  133.35  133.25        0.000750
2019-04-13  134.16  133.35        0.006074
2019-04-14  134.49  134.16        0.002460
2019-04-15  134.09  134.49       -0.002974
2019-04-16  131.72  134.09       -0.017675