In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/apple.csv", index_col='Date', parse_dates=True)

In [3]:
df.head()

            Close
Date
2021-01-04  129.4
2021-01-05  131.0
2021-01-06  126.6
2021-01-07  130.9
2021-01-08  132.1

In [4]:
df.count()

Close    125
dtype: int64

In [8]:
df.resample('W').min()

            Close
Date
2021-01-10  126.6
2021-01-17  127.1
2021-01-24  127.8
2021-01-31  132.0
2021-02-07  133.9
2021-02-14  135.1
2021-02-21  129.7
2021-02-28  121.0
2021-03-07  120.1
2021-03-14  116.4
2021-03-21  120.0
2021-03-28  120.1
2021-04-04  119.9
2021-04-11  125.9
2021-04-18  131.2
2021-04-25  131.9
2021-05-02  131.5
2021-05-09  127.9
2021-05-16  122.8
2021-05-23  124.7
2021-05-30  124.6
2021-06-06  123.5
2021-06-13  125.9
2021-06-20  129.6
2021-06-27  132.3
2021-07-04  134.8

In [10]:
df.resample('W', kind='period').mean()

                         Close
Date
2021-01-04/2021-01-10  130.000
2021-01-11/2021-01-17  128.940
2021-01-18/2021-01-24  133.950
2021-01-25/2021-01-31  139.460
2021-02-01/2021-02-07  135.440
2021-02-08/2021-02-14  135.760
2021-02-15/2021-02-21  130.900
2021-02-22/2021-02-28  123.920
2021-03-01/2021-03-07  123.300
2021-03-08/2021-03-14  120.100
2021-03-15/2021-03-21  122.980
2021-03-22/2021-03-28  121.560
2021-03-29/2021-04-04  121.625
2021-04-05/2021-04-11  128.680
2021-04-12/2021-04-18  133.260
2021-04-19/2021-04-25  133.520
2021-04-26/2021-05-02  133.540
2021-05-03/2021-05-09  129.680
2021-05-10/2021-05-16  125.620
2021-05-17/2021-05-23  125.720
2021-05-24/2021-05-30  126.160
2021-05-31/2021-06-06  124.700
2021-06-07/2021-06-13  126.640
2021-06-14/2021-06-20  130.520
2021-06-21/2021-06-27  133.300
2021-06-28/2021-07-04  136.350

In [11]:
df.resample('M', kind='period').mean()

              Close
Date
2021-01  133.042105
2021-02  131.536842
2021-03  121.878261
2021-04  131.809524
2021-05  126.795000
2021-06  129.963636
2021-07  137.300000

In [13]:
df.resample('M').mean()

                 Close
Date
2021-01-31  133.042105
2021-02-28  131.536842
2021-03-31  121.878261
2021-04-30  131.809524
2021-05-31  126.795000
2021-06-30  129.963636
2021-07-31  137.300000

In [14]:
sales = pd.read_csv('data/sales.csv', index_col='Date', parse_dates=True)
sales.head()

            Sales
Date
2021-06-30    370
2021-06-29    363
2021-06-28    348
2021-06-25    331
2021-06-24    334

In [17]:
sales.resample('W', kind='period').mean()

                            Sales
Date
2020-06-29/2020-07-05   90.000000
2020-07-06/2020-07-12   52.800000
2020-07-13/2020-07-19   33.800000
2020-07-20/2020-07-26   43.800000
2020-07-27/2020-08-02   54.000000
2020-08-03/2020-08-09  107.400000
2020-08-10/2020-08-16  130.000000
2020-08-17/2020-08-23  177.200000
2020-08-24/2020-08-30  254.000000
2020-08-31/2020-09-06  273.000000
2020-09-07/2020-09-13  139.000000
2020-09-14/2020-09-20  120.200000
2020-09-21/2020-09-27   99.000000
2020-09-28/2020-10-04  149.400000
2020-10-05/2020-10-11  153.600000
2020-10-12/2020-10-18  212.800000
2020-10-19/2020-10-25  162.400000
2020-10-26/2020-11-01  134.200000
2020-11-02/2020-11-08  143.800000
2020-11-09/2020-11-15  180.600000
2020-11-16/2020-11-22  187.200000
2020-11-23/2020-11-29  154.250000
2020-11-30/2020-12-06  220.200000
2020-12-07/2020-12-13  231.200000
2020-12-14/2020-12-20  265.800000
2020-12-21/2020-12-27  307.750000
2020-12-28/2021-01-03  345.000000
2021-01-04/2021-01-10  300.000000
2021-01-11/2021-01-17  289.400000
2021-01-18/2021-01-24  339.500000
2021-01-25/2021-01-31  394.600000
2021-02-01/2021-02-07  354.400000
2021-02-08/2021-02-14  357.600000
2021-02-15/2021-02-21  309.000000
2021-02-22/2021-02-28  239.200000
2021-03-01/2021-03-07  233.000000
2021-03-08/2021-03-14  201.000000
2021-03-15/2021-03-21  229.800000
2021-03-22/2021-03-28  215.600000
2021-03-29/2021-04-04  216.250000
2021-04-05/2021-04-11  286.800000
2021-04-12/2021-04-18  332.600000
2021-04-19/2021-04-25  335.200000
2021-04-26/2021-05-02  335.400000
2021-05-03/2021-05-09  296.800000
2021-05-10/2021-05-16  256.200000
2021-05-17/2021-05-23  257.200000
2021-05-24/2021-05-30  261.600000
2021-05-31/2021-06-06  247.000000
2021-06-07/2021-06-13  266.400000
2021-06-14/2021-06-20  305.200000
2021-06-21/2021-06-27  333.000000
2021-06-28/2021-07-04  360.333333