In [1]:
text = 'jone, sam, jake'

In [2]:
text.split(',')

['jone', ' sam', ' jake']

In [3]:
words = [words.strip() for words in text.split(',')]
words

['jone', 'sam', 'jake']

In [4]:
text2 = 'Sam will go to school today'
text3 = text2.split(' ')
text3

['Sam', 'will', 'go', 'to', 'school', 'today']

In [6]:
text4 = ['sam', 'yahoo.com']
text5= '@'.join(text4)
text5

'sam@yahoo.com'

In [7]:
text3.index('school')

4

In [8]:
'school' in text2

True

In [9]:
data = pd.read_csv('/data/ex5.csv')

NameError: name 'pd' is not defined

In [11]:
import pandas as pd
data = pd.read_csv('data/ex5.csv')

In [14]:
multi_data = data.set_index(['year','quarters'])

In [15]:
multi_data

               sale1  sale2  sale3
year quarters
2010 A           200    258    592
     B           328    664    606
     C           870    249    918
     D           209    971    629
2011 A           348    863    929
     B           475    999    610
     C           944    356    540
     D           190     12    673
2012 A           129    936     14
     B            31    877    181
     C           646    768    862
     D           284    792    688

In [16]:
multi_data.index

MultiIndex([(2010, 'A'),
            (2010, 'B'),
            (2010, 'C'),
            (2010, 'D'),
            (2011, 'A'),
            (2011, 'B'),
            (2011, 'C'),
            (2011, 'D'),
            (2012, 'A'),
            (2012, 'B'),
            (2012, 'C'),
            (2012, 'D')],
           names=['year', 'quarters'])

In [17]:
multi_data.loc['2010']

KeyError: '2010'

In [20]:
extern int i;multi_data.loc[2010, 'C']

sale1    870
sale2    249
sale3    918
Name: (2010, C), dtype: int64

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.DataFrame(np.random.randint(100, size=(6,4)), index=[['green','green','black','black','yellow','yellow'],['one','two','one','two','one','two']])

In [5]:
data

             0   1   2   3
green  one  77  27  29   8
       two  64  67  86  86
black  one  70  57  82  40
       two  91  66  52  93
yellow one  78   2  11  62
       two  70  67   7  11

In [6]:
data.index

MultiIndex([( 'green', 'one'),
            ( 'green', 'two'),
            ( 'black', 'one'),
            ( 'black', 'two'),
            ('yellow', 'one'),
            ('yellow', 'two')],
           )

In [11]:
data2 = data.swaplevel(0,1).sort_index(level=0)

In [12]:
data2

             0   1   2   3
one black   70  57  82  40
    green   77  27  29   8
    yellow  78   2  11  62
two black   91  66  52  93
    green   64  67  86  86
    yellow  70  67   7  11

In [15]:
data = data2.swaplevel(0,1).sort_index(level=0)

In [16]:
data

             0   1   2   3
black  one  70  57  82  40
       two  91  66  52  93
green  one  77  27  29   8
       two  64  67  86  86
yellow one  78   2  11  62
       two  70  67   7  11

In [17]:
data.mean()

0    75.000000
1    47.666667
2    44.500000
3    50.000000
dtype: float64

In [18]:
data.index.names

FrozenList([None, None])

In [19]:
data.index.names=['color','number']

In [20]:
data.mean(level='number')

/tmp/ipykernel_10024/4085810814.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data.mean(level='number')

           0          1          2          3
number
one     75.0  28.666667  40.666667  36.666667
two     75.0  66.666667  48.333333  63.333333

In [21]:
data.sum(level='color')

/tmp/ipykernel_10024/3527649411.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data.sum(level='color')

          0    1    2    3
color
black   161  123  134  133
green   141   94  115   94
yellow  148   69   18   73

In [22]:
data1 = pd.read_csv('data/ex5.csv')
data1.head()

   year quarters  sale1  sale2  sale3
0  2010        A    200    258    592
1  2010        B    328    664    606
2  2010        C    870    249    918
3  2010        D    209    971    629
4  2011        A    348    863    929

In [25]:
data1.columns

Index(['year', 'quarters', 'sale1', 'sale2', 'sale3'], dtype='object')

In [34]:
data2=data1.set_index(['year', 'quarters'])

In [35]:

data2

               sale1  sale2  sale3
year quarters
2010 A           200    258    592
     B           328    664    606
     C           870    249    918
     D           209    971    629
2011 A           348    863    929
     B           475    999    610
     C           944    356    540
     D           190     12    673
2012 A           129    936     14
     B            31    877    181
     C           646    768    862
     D           284    792    688

In [36]:
data2.mean()

sale1    387.833333
sale2    645.416667
sale3    603.500000
dtype: float64

In [37]:
data1 = pd.DataFrame({'states':['California','Georgia','Florida','Arizona'],'population':[40,10,21,7]})

data2 = pd.DataFrame({'states':['Arizona','Colorado','Indiana','Florida'], 'area':[113,104,36,65]})

In [38]:
data1

       states  population
0  California          40
1     Georgia          10
2     Florida          21
3     Arizona           7

In [39]:
data2

     states  area
0   Arizona   113
1  Colorado   104
2   Indiana    36
3   Florida    65

In [44]:
pd.merge(data1,data2, how='right')

     states  population  area
0   Arizona         7.0   113
1  Colorado         NaN   104
2   Indiana         NaN    36
3   Florida        21.0    65