In [1]:
import pandas as pd
from datetime import datetime

In [2]:
time_str = '2021, 09, 12'
time_str

'2021, 09, 12'

In [5]:
time1 = datetime.strptime(time_str, '%Y, %m, %d')

In [7]:
time_str2 = '2021-08-13'
time2 = datetime.strptime(time_str2, '%Y-%m-%d')

In [8]:
df = pd.read_csv('data/ex8.csv')

In [9]:
df.head()

        date   google   apple
0  30-Apr-21  2410.12  131.24
1  29-Apr-21  2429.89  133.25
2  28-Apr-21  2379.91  133.35
3  27-Apr-21  2307.12  134.16
4  26-Apr-21  2326.74  134.49

In [11]:
df.date

0    30-Apr-21
1    29-Apr-21
2    28-Apr-21
3    27-Apr-21
4    26-Apr-21
5    23-Apr-21
6    22-Apr-21
7    21-Apr-21
8    20-Apr-21
Name: date, dtype: object

In [12]:
df['date']=pd.to_datetime(df['date'])

In [13]:
df.date

0   2021-04-30
1   2021-04-29
2   2021-04-28
3   2021-04-27
4   2021-04-26
5   2021-04-23
6   2021-04-22
7   2021-04-21
8   2021-04-20
Name: date, dtype: datetime64[ns]

In [14]:
df.dtypes

date      datetime64[ns]
google           float64
apple            float64
dtype: object