In [1]:
from datetime import datetime
import pandas as pd

In [3]:
df = pd.read_csv('data/ex15.csv')

In [4]:
df.dtypes

date       object
google    float64
apple     float64
dtype: object

In [5]:
df.count()

date      16
google    16
apple     16
dtype: int64

In [8]:
df['date']=pd.to_datetime(df['date'])

In [9]:
df.dtypes

date      datetime64[ns]
google           float64
apple            float64
dtype: object

In [10]:
df.head()

        date   google   apple
0 2019-04-30  2410.12  131.24
1 2019-05-29  2429.89  133.25
2 2019-06-28  2379.91  133.35
3 2019-07-27  2307.12  134.16
4 2020-04-26  2326.74  134.49

In [11]:
df.set_index('date')

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49
2020-05-23  2315.30  134.09
2020-06-24  2267.92  131.72
2020-07-20  2293.29  133.27
2021-04-20  2293.63  132.88
2021-05-30  2410.12  131.24
2021-06-29  2429.89  133.25
2021-07-28  2379.91  133.35
2021-04-27  2307.12  134.16
2022-05-26  2326.74  134.49
2022-06-23  2315.30  134.09
2022-07-22  2267.92  131.72

In [13]:
df = pd.read_csv('data/ex15.csv',parse_dates=['date'], index_col='date')

In [14]:
df

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49
2020-05-23  2315.30  134.09
2020-06-24  2267.92  131.72
2020-07-20  2293.29  133.27
2021-04-20  2293.63  132.88
2021-05-30  2410.12  131.24
2021-06-29  2429.89  133.25
2021-07-28  2379.91  133.35
2021-04-27  2307.12  134.16
2022-05-26  2326.74  134.49
2022-06-23  2315.30  134.09
2022-07-22  2267.92  131.72

In [15]:
df.dtypes

google    float64
apple     float64
dtype: object

In [16]:
df.index.dtype

dtype('<M8[ns]')

In [17]:
df.index

DatetimeIndex(['2019-04-30', '2019-05-29', '2019-06-28', '2019-07-27',
               '2020-04-26', '2020-05-23', '2020-06-24', '2020-07-20',
               '2021-04-20', '2021-05-30', '2021-06-29', '2021-07-28',
               '2021-04-27', '2022-05-26', '2022-06-23', '2022-07-22'],
              dtype='datetime64[ns]', name='date', freq=None)

In [18]:
df.loc['2021']

             google   apple
date
2021-04-20  2293.63  132.88
2021-05-30  2410.12  131.24
2021-06-29  2429.89  133.25
2021-07-28  2379.91  133.35
2021-04-27  2307.12  134.16

In [19]:
df.loc['2021-04']

             google   apple
date
2021-04-20  2293.63  132.88
2021-04-27  2307.12  134.16

In [21]:
df.loc['2019':'2020']

/tmp/ipykernel_92637/1499811764.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df.loc['2019':'2020']

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49
2020-05-23  2315.30  134.09
2020-06-24  2267.92  131.72
2020-07-20  2293.29  133.27

In [23]:
df.index.is_unique

True