![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

### The Exercise for  Module 7
hello
#### Instruction:  Please write your code after the phrase " ## Your codes begin here:"

#### Q1. Create a pandas series named 'series1' with the values [12, 14, 16, 18] and index ['a', 'b', 'c', 'd'] ? Then display it?

**Hint**: You will need the function (**pd.Series()**)

In [4]:
import pandas as pd
import numpy as np
np.random.seed(50)   ## Used to generate the same numbers each time we run the script.

## Your codes begin here:

a    12
b    14
c    16
d    18
dtype: int64

#### Q2. Convert the dictionary in the next code cell into a pandas dataframe named 'df1'? then display it?

**Hint1:** Do not forget to run the first cell below to create the dictionary first.

**Hint2:** you will need the function **pd.DataFrame()**.

In [5]:
# Just run this cell to create the dictionary.

dictionary1 = {'name': ['Bob', 'Sam','William','Jon', 'Bill', 'Maria', 'Jenny', 'Jack'],
        'age': [23, 19, 29, 32, 43, 23, 18, 26], 'income': [55, 65, 44, 98, 59, 87, 81, 78]}

In [8]:
## Your codes begin here:

      name  age  income
0      Bob   23      55
1      Sam   19      65
2  William   29      44
3      Jon   32      98
4     Bill   43      59
5    Maria   23      87
6    Jenny   18      81
7     Jack   26      78

#### Q3. Display the head and the tail of the dataframe 'df1' from Q2 in two separate code cells?

**Hint:** you will need these functions: **head()** and **tail()**.

In [9]:
# display the head of the dataframe df1
## Your codes begin here:

      name  age  income
0      Bob   23      55
1      Sam   19      65
2  William   29      44
3      Jon   32      98
4     Bill   43      59

In [10]:
# display the tail of the dataframe df1
## Your codes begin here:

    name  age  income
3    Jon   32      98
4   Bill   43      59
5  Maria   23      87
6  Jenny   18      81
7   Jack   26      78

#### Q4. Set the index for the dataframe 'df1' from Q2 to be the column ( 'name' ) and make this change reflected and saved to the original dataframe? Then display the dataframe?

**Hint1:** you will need this functions: **set_index()**.

**Hint2:** To make changes permenant, use the argument: **inplace = True**.

In [16]:
## Your codes begin here:
df1.set_index('name', inplace=True)
df1

         age  income
name
Bob       23      55
Sam       19      65
William   29      44
Jon       32      98
Bill      43      59
Maria     23      87
Jenny     18      81
Jack      26      78

#### Q5. For the dataframe ('df1'), select or display the column named ('income') ?

In [17]:
## Your codes begin here:

name
Bob        55
Sam        65
William    44
Jon        98
Bill       59
Maria      87
Jenny      81
Jack       78
Name: income, dtype: int64

#### Q6. For the dataframe ('df1'), select or display the rows with the index 'Bob'  and 'Jake' ?

In [22]:
## Your codes begin here:

      age  income
name
Bob    23      55
Sam    19      65

#### Q6. Sort the index of dataframe ('df1') and make the change saved to the dataframe? Then display the dataframe?
**Hint1:** you will need this functions: **sort_index()**.

**Hint2:** To make changes permenant, use the argument: **inplace = True**.

In [24]:
## Your codes begin here:

         age  income
name
Bill      43      59
Bob       23      55
Jack      26      78
Jenny     18      81
Jon       32      98
Maria     23      87
Sam       19      65
William   29      44

#### Q7. Sort the dataframe ('df1') based to the 'income' column?

**Hint:** you will need this functions: **sort_values()**.

In [37]:
## Your codes begin here:

         age  income
name
Jon       32      98
Maria     23      87
Jenny     18      81
Jack      26      78
Sam       19      65
Bill      43      59
Bob       23      55
William   29      44

#### Q8. Delete the column with the label 'income' from the dataframe ('df1')?

**Hint1:** you will need this functions: **drop()**.

**Hint2:** To delete a column you need to use the argument: **axis = 1**.

In [32]:
## Your codes begin here:

         age
name
Bill      43
Bob       23
Jack      26
Jenny     18
Jon       32
Maria     23
Sam       19
William   29

***
# Solutions
***

#### Q1. Create a pandas series named 'series1' with the values [12, 14, 16, 18] and index ['a', 'b', 'c', 'd'] ? Then display it?

In [36]:
import pandas as pd
import numpy as np
np.random.seed(50)   ## Used to generate the same numbers each time we run the script.

## Your codes begin here:

series1 = pd.Series([12, 14, 16, 18], index= ['a','b','c','d'])
series1

a    12
b    14
c    16
d    18
dtype: int64

#### Q2. Convert the dictionary in the next code cell into a pandas dataframe named 'df1'? then display it?

In [37]:
# Just run this cell to create the dictionary.

dictionary1 = {'name': ['Bob', 'Sam','William','Jon', 'Bill', 'Maria', 'Jenny', 'Jack'],
        'age': [23, 19, 29, 32, 43, 23, 18, 26], 'income': [55, 65, 44, 98, 59, 87, 81, 78]}

In [38]:
## Your codes begin here:

df1 = pd.DataFrame(dictionary1)
df1

      name  age  income
0      Bob   23      55
1      Sam   19      65
2  William   29      44
3      Jon   32      98
4     Bill   43      59
5    Maria   23      87
6    Jenny   18      81
7     Jack   26      78

#### Q3. Display the head and the tail of the dataframe 'df1' from Q2 in two separate code cells?

In [39]:
# display the head of the dataframe df1
## Your codes begin here:

df1.head()

      name  age  income
0      Bob   23      55
1      Sam   19      65
2  William   29      44
3      Jon   32      98
4     Bill   43      59

In [40]:
# display the tail of the dataframe df1
## Your codes begin here:

df1.tail()

    name  age  income
3    Jon   32      98
4   Bill   43      59
5  Maria   23      87
6  Jenny   18      81
7   Jack   26      78

#### Q4. Set the index for the dataframe 'df1' from Q2 to be the column ( 'name' ) and make this change reflected and saved to the original dataframe? Then display the dataframe?

In [41]:
## Your codes begin here:

df1.set_index('name', inplace = True)
df1

         age  income
name
Bob       23      55
Sam       19      65
William   29      44
Jon       32      98
Bill      43      59
Maria     23      87
Jenny     18      81
Jack      26      78

#### Q5. For the dataframe ('df1'), select or display the column named ('income') ?

In [30]:
## Your codes begin here:

df1.sort_values(['income'])

         age  income
name
William   29      44
Bob       23      55
Bill      43      59
Sam       19      65
Jack      26      78
Jenny     18      81
Maria     23      87
Jon       32      98

#### Q6. For the dataframe ('df1'), select or display the rows with the index 'Bob'  and 'Jake' ?

In [43]:
## Your codes begin here:

df1.loc[['Bob', 'Jack']]

      age  income
name
Bob    23      55
Jack   26      78

#### Q6. Sort the index of dataframe ('df1') and make the change saved to the dataframe? Then display the dataframe?

In [44]:
## Your codes begin here:

df1.sort_index(inplace = True)
df1

         age  income
name
Bill      43      59
Bob       23      55
Jack      26      78
Jenny     18      81
Jon       32      98
Maria     23      87
Sam       19      65
William   29      44

#### Q7. Sort the dataframe ('df1') based to the 'income' column?

In [45]:
## Your codes begin here:

df1.sort_values(by = 'income')

         age  income
name
William   29      44
Bob       23      55
Bill      43      59
Sam       19      65
Jack      26      78
Jenny     18      81
Maria     23      87
Jon       32      98

#### Q8. Delete the column with the label 'income' from the dataframe ('df1')?

In [46]:
## Your codes begin here:

df1.drop('income', axis  = 1)

         age
name
Bill      43
Bob       23
Jack      26
Jenny     18
Jon       32
Maria     23
Sam       19
William   29

***

<h1 align="center">Thank You</h1> 

***

In [47]:
print(1)

1

In [1]:
print(2)

2