![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

### The Exercise for  Module 9

#### Instruction:  Please write your code after the phrase " ## Your codes begin here:"

#### Q1. In this dataframe named 'customers' (which is created in the first code cell below): check for missing values in this dataset?

**Hint1:** Do not forget to run the first cell below to create the dataframe first.

**Hint2:** you will need the function **isnull()** with the function **any()** to give summary of missing values for columns.

In [1]:
## just run this cell to create the 'customers' dataframe.

import pandas as pd
customers = pd.read_csv('data/customers.csv')
customers.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433.0,NaN,3,38,14,Female,No,No,Caucasian,0
1,43.540,NaN,232.0,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579

In [12]:
## check for missing data

## Your codes begin here:

Income       False
Limit         True
Rating        True
Cards        False
Age          False
Education    False
Gender       False
Student      False
Married      False
Ethnicity    False
Balance      False
dtype: bool

#### Q2. Delete all missing values in the dataframe 'customers' by creating a new dataframe named 'customers2' without missing values? Then display the head of the new dataframe 'customers2'?


**Hint:** you will need the function **dropna()**.

In [3]:
## Your codes begin here:

<bound method DataFrame.notna of      Income   Limit  Rating  Cards  Age  Education  Gender Student Married  \
2    55.367  6340.0   448.0      1   33         15    Male      No     Yes
4    15.560  4307.0   352.0      4   57          8    Male      No     Yes
6    20.191  5767.0   431.0      4   42         16    Male      No     Yes
7    48.498  6040.0   456.0      3   47         16    Male      No     Yes
8    30.733  2832.0   249.0      4   51         13    Male      No      No
9    16.479  5435.0   388.0      2   26         16    Male      No      No
10   38.009  3075.0   245.0      3   45         15  Female      No      No
12   14.312  5382.0   367.0      1   59         17    Male     Yes      No
13   26.067  3388.0   266.0      4   74         17  Female      No     Yes
14   36.295  2963.0   241.0      2   68         14  Female     Yes      No
15   83.851  8494.0   607.0      5   47         18    Male      No      No
16   21.153  3736.0   256.0      1   41         11    Male      No      No
17   17.976  2433.0   190.0      3   70         16  Female     Yes      No
19  146.183  9540.0   682.0      6   66         15    Male      No      No
20   15.846  4768.0   365.0      4   53         12  Female      No      No
21   12.031  3182.0   259.0      2   58         18  Female      No     Yes
22   16.819  1337.0   115.0      2   74         15    Male      No     Yes
23   39.110  3189.0   263.0      3   72         12    Male      No      No
24  107.986  6033.0   449.0      4   64         14    Male      No     Yes
25   13.561  3261.0   279.0      5   37         19    Male      No     Yes
26   34.537  3271.0   250.0      3   57         17  Female      No     Yes
29   69.251  6386.0   474.0      4   30         12  Female      No     Yes
30   16.482  3326.0   268.0      4   41         15    Male      No      No
31   40.442  4828.0   369.0      5   81          8  Female      No      No
32   35.177  2117.0   186.0      3   62         16  Female      No      No
33   91.362  9113.0   626.0      1   47         17    Male      No     Yes
34   27.039  2161.0   173.0      3   40         17  Female      No      No
35   23.012  1410.0   137.0      3   81         16    Male      No      No
36   27.241  1402.0   128.0      2   67         15  Female      No     Yes
37  148.080  8157.0   599.0      2   83         13    Male      No     Yes
38   62.602  7056.0   481.0      1   84         11  Female      No      No
40   29.564  2529.0   192.0      1   30         12  Female      No     Yes
41   27.578  2531.0   195.0      1   34         15  Female      No     Yes
42   26.427  5533.0   433.0      5   50         15  Female     Yes     Yes
43   57.202  3411.0   259.0      3   72         11  Female      No      No
44  123.299  8376.0   610.0      2   89         17    Male     Yes      No
45   18.145  3461.0   279.0      3   56         15    Male      No     Yes
46   23.793  3821.0   281.0      4   56         12  Female     Yes     Yes
47   10.726  1568.0   162.0      5   46         19    Male      No     Yes
48   23.283  5443.0   407.0      4   49         13    Male      No     Yes

           Ethnicity  Balance
2          Caucasian      815
4   African American      579
6   African American     1023
7          Caucasian      812
8          Caucasian        0
9   African American      937
10  African American        0
12             Asian     1380
13  African American      155
14  African American      375
15         Caucasian     1311
16         Caucasian      298
17         Caucasian      431
19         Caucasian     1050
20         Caucasian      745
21  African American      210
22             Asian        0
23             Asian        0
24         Caucasian      227
25             Asian      297
26             Asian       47
29             Asian      768
30         Caucasian      271
31  African American      510
32         Caucasian        0
33             Asian     1341
34         Caucasian        0
35         Caucasian        0
36             Asian        0
37         Caucasian      454
38         Caucasian      904
40         Caucasian        0
41         Caucasian        0
42             Asian     1404
43         Caucasian        0
44  African American     1259
45  African American      255
46  African American      868
47             Asian        0
48  African American      912  >

#### Q3. In the dataframe 'customers', fill in the missing values with the average value (mean) for each columns by creating a new dataframe named customers3? Then display the head of the new dataframe

**Hint1:** you will need the function **fillna()**.

**Hint2:** the mean can be calculated using this code **customers.mean()**.

In [13]:
## Your codes begin here:

C:\Users\Tech\AppData\Local\Temp\ipykernel_8208\1166498854.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  customers3 = customers.fillna(customers.mean())

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433.000000,345.772727,3,38,14,Female,No,No,Caucasian,0
1,43.540,4138.222222,232.000000,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340.000000,448.000000,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271.000000,345.772727,4,59,12,Female,No,No,Asian,0
4,15.560,4307.000000,352.000000,4,57,8,Male,No,Yes,African American,579
5,59.530,4138.222222,543.000000,33,52,9,Female,No,No,African American,1176
6,20.191,5767.000000,431.000000,4,42,16,Male,No,Yes,African American,1023
7,48.498,6040.000000,456.000000,3,47,16,Male,No,Yes,Caucasian,812
8,30.733,2832.000000,249.000000,4,51,13,Male,No,No,Caucasian,0
9,16.479,5435.000000,388.000000,2,26,16,Male,No,No,African American,937
10,38.009,3075.000000,245.000000,3,45,15,Female,No,No,African American,0
11,14.084,855.000000,345.772727,5,46,17,Female,No,Yes,African American,0
12,14.312,5382.000000,367.000000,1,59,17,Male,Yes,No,Asian,1380
13,26.067,3388.000000,266.000000,4,74,17,Female,No,Yes,African American,155
14,36.295,2963.000000,241.000000,2,68,14,Female,Yes,No,African American,375
15,83.851,8494.000000,607.000000,5,47,18,Male,No,No,Caucasian,1311
16,21.153,3736.000000,256.000000,1,41,11,Male,No,No,Caucasian,298
17,17.976,2433.000000,190.000000,3,70,16,Female,Yes,No,Caucasian,431
18,68.713,4138.222222,531.000000,22,56,16,Male,Yes,No,Caucasian,1587
19,146.183,9540.000000,682.000000,6,66,15,Male,No,No,Caucasian,1050
20,15.846,4768.000000,365.000000,4,53,12,Female,No,No,Caucasian,745
21,12.031,3182.000000,259.000000,2,58,18,Female,No,Yes,African American,210
22,16.819,1337.000000,115.000000,2,74,15,Male,No,Yes,Asian,0
23,39.110,3189.000000,263.000000,3,72,12,Male,No,No,Asian,0
24,107.986,6033.000000,449.000000,4,64,14,Male,No,Yes,Caucasian,227
25,13.561,3261.000000,279.000000,5,37,19,Male,No,Yes,Asian,297
26,34.537,3271.000000,250.000000,3,57,17,Female,No,Yes,Asian,47
27,28.575,2959.000000,345.772727,2,60,11,Female,No,No,African American,0
28,46.007,4138.222222,491.000000,4,42,14,Male,No,Yes,Caucasian,1046
29,69.251,6386.000000,474.000000,4,30,12,Female,No,Yes,Asian,768
30,16.482,3326.000000,268.000000,4,41,15,Male,No,No,Caucasian,271
31,40.442,4828.000000,369.000000,5,81,8,Female,No,No,African American,510
32,35.177,2117.000000,186.000000,3,62,16,Female,No,No,Caucasian,0
33,91.362,9113.000000,626.000000,1,47,17,Male,No,Yes,Asian,1341
34,27.039,2161.000000,173.000000,3,40,17,Female,No,No,Caucasian,0
35,23.012,1410.000000,137.000000,3,81,16,Male,No,No,Caucasian,0
36,27.241,1402.000000,128.000000,2,67,15,Female,No,Yes,Asian,0
37,148.080,8157.000000,599.000000,2,83,13,Male,No,Yes,Caucasian,454
38,62.602,7056.000000,481.000000,1,84,11,Female,No,No,Caucasian,904
39,11.808,1300.000000,345.772727,3,77,14,Female,No,No,African American,0
40,29.564,2529.000000,192.000000,1,30,12,Female,No,Yes,Caucasian,0
41,27.578,2531.000000,195.000000,1,34,15,Female,No,Yes,Caucasian,0
42,26.427,5533.000000,433.000000,5,50,15,Female,Yes,Yes,Asian,1404
43,57.202,3411.000000,259.000000,3,72,11,Female,No,No,Caucasian,0
44,123.299,8376.000000,610.000000,2,89,17,Male,Yes,No,African American,1259
45,18.145,3461.000000,279.000000,3,56,15,Male,No,Yes,African American,255
46,23.793,3821.000000,281.000000,4,56,12,Female,Yes,Yes,African American,868
47,10.726,1568.000000,162.000000,5,46,19,Male,No,Yes,Asian,0
48,23.283,5443.000000,407.000000,4,49,13,Male,No,Yes,African American,912

#### Q4. Check for douple entry in the dataframe 'customers', and delete them if found?

**Hint1:** you will need the function **duplicated().any()** to check for double entry.

**Hint2:** you will need the function **drop_duplicates()** to delete all double entries.

In [16]:
## Your codes begin here:

False

#### Q5. Rename the column with the label ('Income') to the label ('Personal Income') in the dataframe 'customers' and make the change saved to the dataframe? Then display the head of the dataframe customers?

**Hint1:** you will need the function **rename()**. with the argument **columns =**

**Hint2:** To make the changes saved to the dataframe use the argument **inplace =True**.

In [20]:
## Your codes begin here:

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433.0,NaN,3,38,14,Female,No,No,Caucasian,0
1,43.540,NaN,232.0,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579

#### Q6. Check for outliers in the column 'Cards', by displaying all values with card number greater than five? Then delete all the entries with outliers?

**Hint1**: you will need to use **boolean indexing** to display Cards values gretaer than 5.

**Hint2:** To delete outliers, you will need the function **drop()**.

In [22]:
# display entries with cards greater than 5
## Your codes begin here:

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
5,59.530,NaN,543.0,33,52,9,Female,No,No,African American,1176
18,68.713,NaN,531.0,22,56,16,Male,Yes,No,Caucasian,1587
19,146.183,9540.0,682.0,6,66,15,Male,No,No,Caucasian,1050

In [36]:
# Delete entries with outliers
## Your codes begin here:

KeyError: '[5, 18, 19] not found in axis'

#### Q7. Generate a random subset from the dataframe 'customers' which contains only 25% of the data and save it in a new dataframe named ('random_sample')? Then display the head of this new dataframe?

**Hint:** you will need the function **sample()**.

In [41]:
## Your codes begin here:

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
36,27.241,1402.0,128.0,2,67,15,Female,No,Yes,Asian,0
44,123.299,8376.0,610.0,2,89,17,Male,Yes,No,African American,1259
30,16.482,3326.0,268.0,4,41,15,Male,No,No,Caucasian,271
41,27.578,2531.0,195.0,1,34,15,Female,No,Yes,Caucasian,0
26,34.537,3271.0,250.0,3,57,17,Female,No,Yes,Asian,47
42,26.427,5533.0,433.0,5,50,15,Female,Yes,Yes,Asian,1404
40,29.564,2529.0,192.0,1,30,12,Female,No,Yes,Caucasian,0
7,48.498,6040.0,456.0,3,47,16,Male,No,Yes,Caucasian,812
22,16.819,1337.0,115.0,2,74,15,Male,No,Yes,Asian,0
20,15.846,4768.0,365.0,4,53,12,Female,No,No,Caucasian,745
24,107.986,6033.0,449.0,4,64,14,Male,No,Yes,Caucasian,227

#### Q8. Reset the index for the dataframe 'random_sample' that was created in Q7? then display the head of the dataframe 'randome_sample'?

**Hint1:** you will need the function **reset_index()**. To delete old index use **drop = True**.

**Hint2:** To make the changes saved to the dataframe use the argument **inplace =True**.

In [43]:
## Your codes begin here:

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
1,27.241,1402.0,128.0,2,67,15,Female,No,Yes,Asian,0
2,123.299,8376.0,610.0,2,89,17,Male,Yes,No,African American,1259
3,16.482,3326.0,268.0,4,41,15,Male,No,No,Caucasian,271
4,27.578,2531.0,195.0,1,34,15,Female,No,Yes,Caucasian,0
5,34.537,3271.0,250.0,3,57,17,Female,No,Yes,Asian,47
6,26.427,5533.0,433.0,5,50,15,Female,Yes,Yes,Asian,1404
7,29.564,2529.0,192.0,1,30,12,Female,No,Yes,Caucasian,0
8,48.498,6040.0,456.0,3,47,16,Male,No,Yes,Caucasian,812
9,16.819,1337.0,115.0,2,74,15,Male,No,Yes,Asian,0
10,15.846,4768.0,365.0,4,53,12,Female,No,No,Caucasian,745
11,107.986,6033.0,449.0,4,64,14,Male,No,Yes,Caucasian,227

#### Q9. Create dummy variables from hte categorical variable ('Gender') and save them into a new dataframe named 'dummy'? Then add these dummy variables to the datafarme 'customers'?

**Hint1**: you will need the function **pd.get_dummies**().

Hint2: To join dataframes you will need this function **join()**.

In [49]:
## Your codes begin here:

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Male,Female
0,19.225,1433.0,NaN,3,38,14,Female,No,No,Caucasian,0,0,1
1,43.540,NaN,232.0,4,69,11,Male,No,No,Caucasian,0,1,0
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815,1,0
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0,0,1
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579,1,0
6,20.191,5767.0,431.0,4,42,16,Male,No,Yes,African American,1023,1,0
7,48.498,6040.0,456.0,3,47,16,Male,No,Yes,Caucasian,812,1,0
8,30.733,2832.0,249.0,4,51,13,Male,No,No,Caucasian,0,1,0
9,16.479,5435.0,388.0,2,26,16,Male,No,No,African American,937,1,0
10,38.009,3075.0,245.0,3,45,15,Female,No,No,African American,0,0,1
11,14.084,855.0,NaN,5,46,17,Female,No,Yes,African American,0,0,1
12,14.312,5382.0,367.0,1,59,17,Male,Yes,No,Asian,1380,1,0
13,26.067,3388.0,266.0,4,74,17,Female,No,Yes,African American,155,0,1
14,36.295,2963.0,241.0,2,68,14,Female,Yes,No,African American,375,0,1
15,83.851,8494.0,607.0,5,47,18,Male,No,No,Caucasian,1311,1,0
16,21.153,3736.0,256.0,1,41,11,Male,No,No,Caucasian,298,1,0
17,17.976,2433.0,190.0,3,70,16,Female,Yes,No,Caucasian,431,0,1
20,15.846,4768.0,365.0,4,53,12,Female,No,No,Caucasian,745,0,1
21,12.031,3182.0,259.0,2,58,18,Female,No,Yes,African American,210,0,1
22,16.819,1337.0,115.0,2,74,15,Male,No,Yes,Asian,0,1,0
23,39.110,3189.0,263.0,3,72,12,Male,No,No,Asian,0,1,0
24,107.986,6033.0,449.0,4,64,14,Male,No,Yes,Caucasian,227,1,0
25,13.561,3261.0,279.0,5,37,19,Male,No,Yes,Asian,297,1,0
26,34.537,3271.0,250.0,3,57,17,Female,No,Yes,Asian,47,0,1
27,28.575,2959.0,NaN,2,60,11,Female,No,No,African American,0,0,1
28,46.007,NaN,491.0,4,42,14,Male,No,Yes,Caucasian,1046,1,0
29,69.251,6386.0,474.0,4,30,12,Female,No,Yes,Asian,768,0,1
30,16.482,3326.0,268.0,4,41,15,Male,No,No,Caucasian,271,1,0
31,40.442,4828.0,369.0,5,81,8,Female,No,No,African American,510,0,1
32,35.177,2117.0,186.0,3,62,16,Female,No,No,Caucasian,0,0,1
33,91.362,9113.0,626.0,1,47,17,Male,No,Yes,Asian,1341,1,0
34,27.039,2161.0,173.0,3,40,17,Female,No,No,Caucasian,0,0,1
35,23.012,1410.0,137.0,3,81,16,Male,No,No,Caucasian,0,1,0
36,27.241,1402.0,128.0,2,67,15,Female,No,Yes,Asian,0,0,1
37,148.080,8157.0,599.0,2,83,13,Male,No,Yes,Caucasian,454,1,0
38,62.602,7056.0,481.0,1,84,11,Female,No,No,Caucasian,904,0,1
39,11.808,1300.0,NaN,3,77,14,Female,No,No,African American,0,0,1
40,29.564,2529.0,192.0,1,30,12,Female,No,Yes,Caucasian,0,0,1
41,27.578,2531.0,195.0,1,34,15,Female,No,Yes,Caucasian,0,0,1
42,26.427,5533.0,433.0,5,50,15,Female,Yes,Yes,Asian,1404,0,1
43,57.202,3411.0,259.0,3,72,11,Female,No,No,Caucasian,0,0,1
44,123.299,8376.0,610.0,2,89,17,Male,Yes,No,African American,1259,1,0
45,18.145,3461.0,279.0,3,56,15,Male,No,Yes,African American,255,1,0
46,23.793,3821.0,281.0,4,56,12,Female,Yes,Yes,African American,868,0,1
47,10.726,1568.0,162.0,5,46,19,Male,No,Yes,Asian,0,1,0
48,23.283,5443.0,407.0,4,49,13,Male,No,Yes,African American,912,1,0

***
# Solutions
***

#### Q1. In this dataframe named 'customers' (which is created in the first code cell below): check for missing values in this dataset?

In [12]:
## just run this cell to create the 'customers' dataframe.

import pandas as pd
customers = pd.read_csv('data/customers.csv')
customers.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433.0,NaN,3,38,14,Female,No,No,Caucasian,0
1,43.540,NaN,232.0,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579

In [13]:
## check for missing data

## Your codes begin here:

customers.isnull().any()

Income       False
Limit         True
Rating        True
Cards        False
Age          False
Education    False
Gender       False
Student      False
Married      False
Ethnicity    False
Balance      False
dtype: bool

#### Q2. Delete all missing values in the dataframe 'customers' by creating a new dataframe named 'customers2' without missing values? Then display the head of the new dataframe 'customers2'?

In [14]:
## Your codes begin here:

customers2 = customers.dropna()
customers2.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579
6,20.191,5767.0,431.0,4,42,16,Male,No,Yes,African American,1023
7,48.498,6040.0,456.0,3,47,16,Male,No,Yes,Caucasian,812
8,30.733,2832.0,249.0,4,51,13,Male,No,No,Caucasian,0

#### Q3. In the dataframe 'customers', fill in the missing values with the average value (mean) for each columns by creating a new dataframe named customers3? Then display the head of the new dataframe

In [15]:
## Your codes begin here:

customers3 = customers.fillna(customers.mean())
customers3.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433.000000,345.772727,3,38,14,Female,No,No,Caucasian,0
1,43.540,4138.222222,232.000000,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340.000000,448.000000,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271.000000,345.772727,4,59,12,Female,No,No,Asian,0
4,15.560,4307.000000,352.000000,4,57,8,Male,No,Yes,African American,579

#### Q4. Check for douple entry in the dataframe 'customers', and delete them if found?

In [16]:
## Your codes begin here:

customers.duplicated().any()

False

#### Q5. Rename the column with the label ('Income') to the label ('Personal Income') in the dataframe 'customers' and make the change saved to the dataframe? Then display the head of the dataframe customers?

In [17]:
## Your codes begin here:

customers.rename(columns = {'Income':'Personal Income'}, inplace =True)
customers.head()

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433.0,NaN,3,38,14,Female,No,No,Caucasian,0
1,43.540,NaN,232.0,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579

#### Q6. Check for outliers in the column 'Cards', by displaying all values with card number greater than five? Then delete all the entries with outliers?

In [18]:
# display entries with cards greater than 5
## Your codes begin here:

customers[customers['Cards'] > 5]

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
5,59.530,NaN,543.0,33,52,9,Female,No,No,African American,1176
18,68.713,NaN,531.0,22,56,16,Male,Yes,No,Caucasian,1587
19,146.183,9540.0,682.0,6,66,15,Male,No,No,Caucasian,1050

In [19]:
# Delete entries with outliers
## Your codes begin here:

customers = customers.drop([5, 18, 19])

#### Q7. Generate a random subset from the dataframe 'customers' which contains only 25% of the data and save it in a new dataframe named ('random_sample')? Then display the head of this new dataframe?

In [20]:
## Your codes begin here:

randome_sample = customers.sample(frac = 0.25)
randome_sample.head()

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
16,21.153,3736.0,256.0,1,41,11,Male,No,No,Caucasian,298
22,16.819,1337.0,115.0,2,74,15,Male,No,Yes,Asian,0
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
41,27.578,2531.0,195.0,1,34,15,Female,No,Yes,Caucasian,0

#### Q8. Reset the index for the dataframe 'random_sample' that was created in Q7? then display the head of the dataframe 'randome_sample'?

In [21]:
## Your codes begin here:

randome_sample.reset_index(drop =True, inplace = True)
randome_sample.head()

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,21.153,3736.0,256.0,1,41,11,Male,No,No,Caucasian,298
1,16.819,1337.0,115.0,2,74,15,Male,No,Yes,Asian,0
2,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0
4,27.578,2531.0,195.0,1,34,15,Female,No,Yes,Caucasian,0

#### Q9. Create dummy variables from hte categorical variable ('Gender') and save them into a new dataframe named 'dummy'? Then add these dummy variables to the datafarme 'customers'?

In [22]:
## Your codes begin here:

dummy = pd.get_dummies(customers['Gender'])
customers.join(dummy)

,Personal Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Male,Female
0,19.225,1433.0,NaN,3,38,14,Female,No,No,Caucasian,0,0,1
1,43.540,NaN,232.0,4,69,11,Male,No,No,Caucasian,0,1,0
2,55.367,6340.0,448.0,1,33,15,Male,No,Yes,Caucasian,815,1,0
3,11.741,2271.0,NaN,4,59,12,Female,No,No,Asian,0,0,1
4,15.560,4307.0,352.0,4,57,8,Male,No,Yes,African American,579,1,0
6,20.191,5767.0,431.0,4,42,16,Male,No,Yes,African American,1023,1,0
7,48.498,6040.0,456.0,3,47,16,Male,No,Yes,Caucasian,812,1,0
8,30.733,2832.0,249.0,4,51,13,Male,No,No,Caucasian,0,1,0
9,16.479,5435.0,388.0,2,26,16,Male,No,No,African American,937,1,0
10,38.009,3075.0,245.0,3,45,15,Female,No,No,African American,0,0,1
11,14.084,855.0,NaN,5,46,17,Female,No,Yes,African American,0,0,1
12,14.312,5382.0,367.0,1,59,17,Male,Yes,No,Asian,1380,1,0
13,26.067,3388.0,266.0,4,74,17,Female,No,Yes,African American,155,0,1
14,36.295,2963.0,241.0,2,68,14,Female,Yes,No,African American,375,0,1
15,83.851,8494.0,607.0,5,47,18,Male,No,No,Caucasian,1311,1,0
16,21.153,3736.0,256.0,1,41,11,Male,No,No,Caucasian,298,1,0
17,17.976,2433.0,190.0,3,70,16,Female,Yes,No,Caucasian,431,0,1
20,15.846,4768.0,365.0,4,53,12,Female,No,No,Caucasian,745,0,1
21,12.031,3182.0,259.0,2,58,18,Female,No,Yes,African American,210,0,1
22,16.819,1337.0,115.0,2,74,15,Male,No,Yes,Asian,0,1,0
23,39.110,3189.0,263.0,3,72,12,Male,No,No,Asian,0,1,0
24,107.986,6033.0,449.0,4,64,14,Male,No,Yes,Caucasian,227,1,0
25,13.561,3261.0,279.0,5,37,19,Male,No,Yes,Asian,297,1,0
26,34.537,3271.0,250.0,3,57,17,Female,No,Yes,Asian,47,0,1
27,28.575,2959.0,NaN,2,60,11,Female,No,No,African American,0,0,1
28,46.007,NaN,491.0,4,42,14,Male,No,Yes,Caucasian,1046,1,0
29,69.251,6386.0,474.0,4,30,12,Female,No,Yes,Asian,768,0,1
30,16.482,3326.0,268.0,4,41,15,Male,No,No,Caucasian,271,1,0
31,40.442,4828.0,369.0,5,81,8,Female,No,No,African American,510,0,1
32,35.177,2117.0,186.0,3,62,16,Female,No,No,Caucasian,0,0,1
33,91.362,9113.0,626.0,1,47,17,Male,No,Yes,Asian,1341,1,0
34,27.039,2161.0,173.0,3,40,17,Female,No,No,Caucasian,0,0,1
35,23.012,1410.0,137.0,3,81,16,Male,No,No,Caucasian,0,1,0
36,27.241,1402.0,128.0,2,67,15,Female,No,Yes,Asian,0,0,1
37,148.080,8157.0,599.0,2,83,13,Male,No,Yes,Caucasian,454,1,0
38,62.602,7056.0,481.0,1,84,11,Female,No,No,Caucasian,904,0,1
39,11.808,1300.0,NaN,3,77,14,Female,No,No,African American,0,0,1
40,29.564,2529.0,192.0,1,30,12,Female,No,Yes,Caucasian,0,0,1
41,27.578,2531.0,195.0,1,34,15,Female,No,Yes,Caucasian,0,0,1
42,26.427,5533.0,433.0,5,50,15,Female,Yes,Yes,Asian,1404,0,1
43,57.202,3411.0,259.0,3,72,11,Female,No,No,Caucasian,0,0,1
44,123.299,8376.0,610.0,2,89,17,Male,Yes,No,African American,1259,1,0
45,18.145,3461.0,279.0,3,56,15,Male,No,Yes,African American,255,1,0
46,23.793,3821.0,281.0,4,56,12,Female,Yes,Yes,African American,868,0,1
47,10.726,1568.0,162.0,5,46,19,Male,No,Yes,Asian,0,1,0
48,23.283,5443.0,407.0,4,49,13,Male,No,Yes,African American,912,1,0

***

<h1 align="center">Thank You</h1> 

***